{% extends template == 'bootstrap' ? '@NowoPerformanceBundle/Performance/layout_bootstrap.html.twig' : '@NowoPerformanceBundle/Performance/layout_tailwind.html.twig' %}

{% block title %}{{ 'access_statistics.title'|trans({}, 'nowo_performance') }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">{{ 'access_statistics.disabled_title'|trans({}, 'nowo_performance') }}</h4>
            <p>{{ 'access_statistics.disabled_message'|trans({}, 'nowo_performance') }}</p>
            <hr>
            <p class="mb-0">
                {{ 'access_statistics.enable_instructions'|trans({}, 'nowo_performance') }}
                <code>enable_access_records: true</code>
                {{ 'access_statistics.in_config'|trans({}, 'nowo_performance') }}
            </p>
        </div>
    </div>
{% endblock %}
