{% extends 'base.html.twig' %}

{% block title %}Edit Product #{{ product.id }}{% endblock %}

{% block body %}
    <h1>Edit Product #{{ product.id }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ path('product_index') }}" class="btn btn-secondary">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
